/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.blog-container {
  width: 384px;
  height: 522px;
  background-color: white;
  box-shadow: 8px 8px #111111;
  border: 1px solid #111111;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-image {
  width: 100%;
  height: 200px;
  margin: 0 0 24px 0;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.blog-content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  overflow: hidden;
}

.blog-content h3 {
  font-size: 14px;
  font-weight: 800;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f4d04e;
  letter-spacing: 0px;
  line-height: 150%;
}

.blog-content span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 150%;
}

.blog-content h2 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 150%;
}

.blog-content h2:hover {
  cursor: pointer;
  color: #f4d04e;
  transition: color 0.3s ease-in-out;
}

.blog-content p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
  color: #6b6b6b;
}

.blog-author {
  width: 100%;
  display: flex;
  margin: 24px 0 0 0;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.blog-author img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  object-fit: cover;
}

.blog-author span {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 150%;
}
